<header>         
  
   <!-- Main -->
   <div class="view intro hm-purple-light" style="">
       <div class="full-bg-img flex-center">
           <div class="container text-center white-text wow fadeInUp">
               <div class="col-md-12">
          <div class="row jumbotron">
            <div class="md-form col-md-4">
                <!-- <i class="fa fa-envelope prefix"></i> -->
                <input type="text" placeholder="City">
            </div>
            <div class="md-form col-md-4">
                <!-- <i class="fa fa-envelope prefix"></i> -->
                <input type="text" placeholder="Area">
                <!-- <label>Example label</label> -->
            </div>
            <div class="col-md-4">
                <button type="button" (click)="onSearch()" class="btn btn-primary btn-rounded waves-light" mdbRippleRadius>Search</button>
            </div>
            
          </div>
        </div>
           </div>
       </div>
   </div>
   <!-- /.Main -->
 
                                 
                      
 
 </header>     
 